<% if @check_res.nil? %>
<p id='wrn'><strong class='alert alert-info'>Нет в базе данных</strong></p>
<% else %>
<p id='msg'><strong class='alert alert-info'>Есть в базе данных</strong></p>
<h3>Строка из базы данных</h3>
Введенный диапазон: [0, <%= @check_par[:check]%>]
<table class = "tab">
    <tr>
    <th>Число</th>
    <th>Квадрат числа</th>
    </tr>
    <% @check_res.each do |elem, sq|%>
    <tr>
        <td><%= elem %></td>
        <td><%= sq %></td>
    </tr>
    <% end %>
</table>
Количество таких чисел
<p id="count"><%= @check_res.size %></p>
<% end %>
<%= link_to "Вернуться назад", check_path%>